@font-face {
  font-family: "Futura";
  src: url("FuturaStdBook.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaBold";
  src: url("FuturaStdBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaExtraBold";
  src: url("FuturaStdExtraBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --azulBrilhante: #0071cf;
  --azulOriginal: #005ca9;
  --azulFechado: #004c8c;
  --laranjaBrilhante: #feb21e;
  --laranjaOriginal: #f39200;
  --laranjaFechada: #ec7500;
  --cristalOriginal: #eff5f6;
  --cristalFechado: #d0e0e3;
  --cinzaBrilhante: #eff5f6;
  --cinzaOriginal: #d0e0e3;
  --cinzaFechado: #b3c7cb;
  --grafiteBrilhante: #5f758f;
  --grafiteOriginal: #48586c;
  --grafiteFechado: #3a4859;
  --ceuBrilhante: #32d4ff;
  --ceuOriginal: #00b5e5;
  --ceuFechado: #00a2cd;
  --turquesaBrilhante: #66cfbf;
  --turquesaOriginal: #54bbab;
  --turquesaFechada: #40a797;
  --limaoBrilhante: #c2dc26;
  --limaoOriginal: #afca0b;
  --limaoFechado: #a1b911;
  --tangerinaBrilhante: #ffc230;
  --tangerinaOriginal: #f9b000;
  --tangerinaFechada: #f99e00;
  --goiabaBrilhante: #fc8a76;
  --goiabaOriginal: #f9765e;
  --goiabaFechada: #e26650;
  --uvaBrilhante: #bc8dac;
  --uvaOriginal: #b26f9b;
  --uvaFechada: #9f4d83;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

div.body-content {
  /** Altura do rodapé tem que ser igual a isso aqui e vice-versa **/
  padding-bottom: 115px;
  padding-top: 10px;
}


/* .headerPar {
    font-family: Futura, 'Open Sans', sans-serif;
    background: linear-gradient( 45deg, #005CA9, #54BBAB);
    color: #EFF5F6;
    width: 100%;
    height: 100px;
    left: 0;
} */

#corNav {
  background-image: linear-gradient(45deg, #005ca9, #54bbab);
}

#ola {
  color: #ffffff;
  font-size: 1.25rem;
  font-family: Futura, "Open Sans", sans-serif;
}

#saudacao {
  color: #ffffff;
  font-size: 1.25rem;
  font-family: Futura, "Open Sans", sans-serif;
}

#logo {
  color: #ffffff;
  font-size: 1rem;
  font-family: Futura, "Open Sans", sans-serif;
}

#todasAdm {
  font-size: medium;
  cursor: pointer;
  color: #ffffff;
}

.linksNav {
  font-family: Futura, "Open Sans", sans-serif;
  color: #ffffff !important;
}

.nav-item :hover {
  text-decoration: underline !important;
}

#texto {
  color: #005ca9;
  font-family: Futura, "Open Sans", sans-serif;
  text-align: center;
}

#containerPar {
  font-family: Futura, "Open Sans", sans-serif;
  justify-content: center;
  color: #005ca9;
  text-align: center;
}

#Estado {
  height: auto;
}

#tblDadosAdm {
  background: #ffffff;
  color: #48586c;
}

/* footer {
  width: 100%;
  height: 62px;
  padding: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: end;
} */

#rodape {
  font-size: 1rem;
  font-family: Futura, "Open Sans", sans-serif;
  color: #ffffff;
  background-image: linear-gradient(45deg, #005ca9, #54bbab);
  width: 100%;
  height: 40px;
  /* padding: 8px; */
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: start;
  
}

.texto-contato{
  font-size:0.75rem;
  font-family: Futura, "Open Sans", sans-serif;
  color: #ffffff;
  text-align: start;
  float: left; 
} 



/* perguntas frequentes */

.cardConfig {
  color: #005ca9;
  font-family: Futura, "Open Sans", sans-serif;
  text-align: left;
  font-size: 1.1rem;
}

.accordion .card .card-header :hover{
  cursor: pointer;
  text-decoration: underline;
}

.respostaConfig {
  color: #48586c;
  font-family: Futura, "Open Sans", sans-serif;
}

.linkAdm {
  color: #005ca9;
  font-family: Futura, "Open Sans", sans-serif;
  text-decoration: none;
}

.visible-mobile {
  display: none;
}

.negrito{
  font-family: FuturaBold, "Open Sans", sans-serif;
}

.textoComum{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--grafiteOriginal);
}

.passo{
  font-family: Futura, "Open Sans", sans-serif;
  color: var(--azulOriginal);
}

.botaoBuscaPasso{
  border: 1px solid #45c0ae;
  color: var(--grafiteOriginal);
  font-family: FuturaBold, "Open Sans", sans-serif;
  box-shadow: 0px 2px 0 rgba(31,42,71,.1);
}

.botaoBuscaPasso:hover{
  background: linear-gradient(to bottom, rgba(5,140,224,1) 0%,rgba(4,126,203,1) 100%);
  color: white;
  border: 1px solid var(--grafiteBrilhante);
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  tr:nth-child(odd) {
    background: #ffffff;
    color: #48586c;
  }

  td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    background: #ffffff;
  }

  td:before {
    position: center;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "";
  }
  td:nth-of-type(2):before {
    content: "";
  }
  td:nth-of-type(3):before {
    content: "";
  }
  /* td:nth-of-type(4):before {content: "Whatsapp?";} */
  td:nth-of-type(5):before {
    content: "";
  }
  /* td:nth-of-type(6):before {content: "Whatsapp?";} */
  td:nth-of-type(7):before {
    content: "";
  }

  .visible-mobile {
    display: block;
  }
}